!!! 5
%html
  %head
    %title blindgaenger
    %link(rel='stylesheet' href='stylesheets/reset.css')
    %link(rel='stylesheet' href='stylesheets/layout.css')
    %link(rel='stylesheet' href='stylesheets/fonts.css')
    %link(rel='stylesheet' href='stylesheets/style.css')
    %script(src='javascripts/jquery.js')
    %script(src='javascripts/jquery.anchor.js')
    %script(src='javascripts/jquery.scroll.js')
    %script(src='javascripts/jquery.current.js')
    %script(src='javascripts/application.js')
    
  %body
    
    #container
    
      #content
        %section= haml :start
        %section= haml :blog
        %section= haml :twitter
        %section= haml :posterous
        %section= haml :facebook
        %section= haml :github

      #sidebar
        %nav
          %ul
            = yield_content :navigation

      #icon
        = yield_content :icon
