!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title blindgaenger
    %meta(name="description" content="The homepage of blindgaenger - an alter ego of Bernd Jünger")
    %meta(name="author" content="blindgaenger, bjuenger, Bernd Jünger")
    %link(rel='openid.server' href='http://openid.claimid.com/server')
    %link(rel='openid.delegate' href='http://openid.claimid.com/blindgaenger')
    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="apple-touch-icon" href="/apple-touch-icon.png")

    %link(rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lobster')
    - if production?
      %link(rel='stylesheet' href='assets/all.css')
    - else
      %link(rel='stylesheet' href='stylesheets/reset.css')
      %link(rel='stylesheet' href='stylesheets/layout.css')
      %link(rel='stylesheet' href='stylesheets/style.css')

  %body
    #badge
      %a(href="https://github.com/blindgaenger/homepage")
        %span.front This site on GitHub!
        %span.back Source for free!

    #container

      #content
        = haml :section, :locals => { :id => 'start',   :name => 'About' }
        = haml :section, :locals => { :id => 'github',  :name => 'Github' }
        = haml :section, :locals => { :id => 'twitter', :name => 'Twitter' }
        = haml :section, :locals => { :id => 'tumbles', :name => 'Tumbles' }
        //= haml :section, :locals => { :id => 'blog',      :name => 'Blog' }
        //= haml :section, :locals => { :id => 'facebook',  :name => 'Facebook' }

      #icon
        #paper

      #navigation
        %nav
          %ul
            = yield_content :navigation
          #switch
            %p.label Turn the lights on?
            .buttons
              %a.button.first(href='http://bjuenger.de/') On
              %a.button.last.active(href='#') Off

    - if production?
      %script(src='assets/all.js')
      = haml :tracking, :locals => { :id => '128818' }
    - else
      %script(src='javascripts/jquery.js')
      %script(src='javascripts/jquery.anchor.js')
      %script(src='javascripts/jquery.viewport.js')
      %script(src='javascripts/jquery.current.js')
      %script(src='javascripts/raphael.js')
      %script(src='javascripts/jquery.icons.js')
      %script(src='javascripts/application.js')
