%h2= name

%p.tumble Once in a while I stumble upon
%p.funny some funny stuff
%p.special … at least for me!

%ul.tumbles
  - @tumbles.each_with_index do |tumble, index|
    %li.tumble
      %a(href="#{tumble.url}" target="_blank")
        - if tumble.body
          %img(src="#{tumble.body}")
        - else
          %h3= tumble.title
        .posted-at= tumble.posted_at.strftime('%d %b')
        - if tumble.body_type == 'video'
          %span.play-button Play

%p.readmore
  %a(href="https://gimmebar.com/loves/blindgaenger/collection/firehose") Tumble with me at Gimme Bar
