- content_for :navigation do
  %li 
    %a(href='#twitter') Twitter

%section#twitter
  %h2 Twitter

  %p.latest You'll find my latest tweets as
  %p.screenname
    %a(href="http://twitter.com/blindgaenger") @blindgaenger
  
  %ul.tweets
    - @tweets.each_with_index do |tweet, index|
      %li.tweet(class="tweet-#{index}")
        %a.icon(href="http://www.twitter.com/#{tweet.user}" target="_blank")
          %img(src="#{tweet.icon}" alt="#{tweet.user}" width=48 height=48)
        .content
          %a.user(href="http://www.twitter.com/#{tweet.user}" target="_blank")= tweet.user
          .text!= tweet.html
          %a.date(href="http://twitter.com/#{tweet.user}/status/#{tweet.id}" target="_blank")= tweet.time.strftime('%d %b')
          
  %p.readmore
    %a(href="http://twitter.com/blindgaenger") Read more @blindgaenger