%h2= name

%p.follow You can find and follow me as
%p.screenname
  %a(href="http://twitter.com/blindgaenger") @blindgaenger
%p.latest Here are some of my latest tweets

%ul.tweets
  - @tweets.each_with_index do |tweet, index|
    %li.tweet(class="scale-#{index}")
      - if tweet.retweeted
        %img.retweeted(src="/images/twitter/retweet.png" alt="RT" title="Retweeted")
      %a.icon(href="#{tweet.profile_url}" target="_blank")
        %img(src="#{tweet.avatar_url}" alt="#{tweet.screen_name}" title="#{tweet.screen_name}" width=48 height=48)
      .content
        %a.user(href="#{tweet.profile_url}" target="_blank")= tweet.screen_name
        .text!= tweet.html
        %a.date(href="#{tweet.tweet_url}" target="_blank")= tweet.tweeted_at.strftime('%d %b')
        
%p.readmore
  %a(href="http://twitter.com/blindgaenger") Read more at Twitter
